<ion-content fullscreen>
    <ion-grid>
        <!--  top-->
        <ion-row>
          <ion-col class="eye">
            <div>oeil</div>
          </ion-col>
          <ion-col class="timeLine">
            <div>barre</div>
          </ion-col>
            <ion-col class="parameter">
                parameter
            </ion-col>
            <ion-col>
               other
            </ion-col>
        </ion-row>
        <!--  milieu-->
        <ion-row class="bodyHome">
            <ion-col class="postit">
                postit
            </ion-col>
            <ion-col class="image">
                2
            </ion-col>
            <ion-col class="musique">
                3
            </ion-col>
        </ion-row>
        <!--  bas -->
        <ion-row>
            <ion-col class="pnj">
                personnage
            </ion-col>
          <ion-col>

          </ion-col>
          <ion-col >
            
          </ion-col>
            <ion-col class="dice">
                dé
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
