<ion-content fullscreen>
    <ion-grid>
        <!--  top-->
        <ion-row>
          <ion-col class="eye">
            <div>oeil</div>
          </ion-col>
          <ion-col class="timeLine">
              <div><ion-button (click)="activateTimeLine()">TimeLine</ion-button></div>
          </ion-col>
            <ion-col class="parameter">
                parameter
            </ion-col>
            <ion-col>
               other
            </ion-col>
        </ion-row>
        <!--  milieu-->
        <ion-row class="bodyHome">
            <ion-col class="postit">
                postit
            </ion-col>
            <ion-col class="image">
                <div *ngIf="timeLineBoolean">
                    <section class="timeline">
                        <mat-toolbar>
                            <mat-button-toggle (click)="addEntry()">Ajouter</mat-button-toggle>
                            <mat-button-toggle (click)="removeEntry()">Supprimer</mat-button-toggle>
                        </mat-toolbar>

                        <div class="container-fluid">
                            <div *ngFor="let entry of entries; let i = index;">
                                <app-element-timeline [entryInput]="entry" [parent]="this"></app-element-timeline>
                            </div>
                        </div>
                    </section>
                    <ion-button (click)="desactivateTimeLine()"><ion-icon name="close"></ion-icon></ion-button>
                </div>
            </ion-col>
            <ion-col class="musique">
                3
            </ion-col>
        </ion-row>
        <!--  bas -->
        <ion-row>
            <ion-col class="pnj">
                personnage
            </ion-col>
          <ion-col>

          </ion-col>
          <ion-col >

          </ion-col>
            <ion-col class="dice">
                dé
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
