.top {
  height: 10%;
}
.middle {
  background-color: #363636;
  height: 65%;
}

.timeLine {
  background-color: #363636;
}

.bottom {
  height: 25%;
}
.other{
  background-color: #363636;
}
.image{
  background-color: #363636;
}


.parameter{
  background-color: #363636;
}
.eye{
  background-color: #363636;
}
.pnj{
  float: left;
  background-color: #4c8dff;
}
.dice{
  float: right;
  background-color: #5f8886;
}

ion-grid.md.hydrated {
  height: 100%;
}

.image-container {
  min-height: 200px;
  background-size: cover;
}

@media (min-width: 0px) {
  .images {
    column-count: 2;
  }
}

@media (min-width: 420px) {
  .images {
    column-count: 3;
  }
}

@media (min-width: 720px) {
  .images {
    column-count: 4;
  }
}

.one-image {
  margin: 2px;
}
