.bodyHome {
  height: 600px;
  background-color: #123456;
}
.parameter{
  background-color: #0bb8cc;
}
.eye{
  background-color: #0ec254;
}
.pnj{
  float: left;
  background-color: #4c8dff;
}
.dice{
  float: right;
  width: 200px;
  background-color: #5f8886;
}


