<ion-content fullscreen>
    <ion-grid>
        <!--  top-->
        <ion-row class="top">
            <ion-col size="1" class="eye">
                <ion-button (click)="hidden = !hidden">
                    <ion-icon *ngIf="!hidden" name="eye"></ion-icon>
                    <ion-icon *ngIf="hidden" name="eye-off"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="3" class="timeLine">
                <div>
                    <ion-button (click)="activateTimeLine()">TimeLine</ion-button>

                </div>
            </ion-col>
            <ion-col size="1" class="parameter">
                <ion-button>
                    <ion-icon name="settings"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="3" class="other">
            </ion-col>
            <ion-col size="4" class="other">
                <ion-button (click)="activateMusic()">
                    <ion-icon name="musical-notes" ></ion-icon>
                </ion-button>
            </ion-col>


        </ion-row>
        <!--  milieu-->
        <ion-row class="middle" *ngIf="!hidden">
            <ion-col size="3" class="postit">
                <app-post></app-post>
            </ion-col>

            <ion-col size="6" class="image">
                <div *ngIf="timeLineBoolean">
                    <section class="timeline">
                        <mat-toolbar>
                            <mat-button-toggle (click)="addEntry()">Ajouter</mat-button-toggle>
                            <mat-button-toggle (click)="removeEntry()">Supprimer</mat-button-toggle>
                        </mat-toolbar>

                        <div class="container-fluid">
                            <div *ngFor="let entry of entries; let i = index;">
                                <app-element-timeline [entryInput]="entry" [parent]="this"></app-element-timeline>
                            </div>
                        </div>
                    </section>
                    <ion-button (click)="desactivateTimeLine()">
                        <ion-icon name="close"></ion-icon>
                    </ion-button>

                </div>
                <span *ngIf="musicBool"><app-music></app-music></span>
            </ion-col>
            <ion-col class="musique" style="z-index: -1;">

<!--                <span *ngIf="musicBool"><app-music></app-music></span>-->
            </ion-col>
        </ion-row>
        <!--  bas -->
        <ion-row class="bottom">
            <ion-col size="8" class="pnj">
                <ion-list>
                    <div class="pnj">
                        <ion-input placeholder="Pj name" type="string" [(ngModel)]="pnj" id="input1"></ion-input>
                        <ion-button  (click)="addPnj()" >Add</ion-button>
                        <span *ngIf="pnj">
                            <ion-button color="primary">
                           {{pnj}}
                        </ion-button>
                        </span>

                        <ion-button color="primary">
                            <ion-icon name="close" (click)="removePj()"></ion-icon>
                        </ion-button>
                    </div>
                    <div class="pj">

                        <ion-input placeholder="Pj name" type="string" [(ngModel)]="pj" id="input"></ion-input>
                        <ion-button color="primary" (click)="addPj()">
                            add
                            <!--                        <ion-icon name="add" (click)="addPj()"><app-model-fiche></app-model-fiche></ion-icon>-->
                        </ion-button>
                        <ion-button color="primary">
                            <ion-icon name="close" (click)="removePj()"></ion-icon>
                        </ion-button>
                    </div>


                </ion-list>
            </ion-col>

            <ion-col size="4" class="dice">
                <app-dice></app-dice>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
