.top {
  height: 10%;
}
.middle {
  background-color: #123456;
  height: 65%;
}
.bottom {
  height: 25%;
}

.parameter{
  background-color: #0bb8cc;
}
.eye{
  background-color: #0ec254;
}
.pnj{
  float: left;
  background-color: #4c8dff;
}
.dice{
  float: right;
  background-color: #5f8886;
}

ion-grid.md.hydrated {
  height: 100%;
}

